---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import AuthorImg from "../../assets/web/hero.jpg";

export async function getStaticPaths() {
  const articles = await getCollection("blog", ({ id }) => {
    return id.startsWith("id/");
  });

  return articles.map((article) => {
    const category = article.data.categories[0].toLowerCase();
    const slug = article.slug.replace("id/", "");

    return {
      params: {
        post: `${category}/${slug}`,
      },
      props: {
        article,
        slug: `${category}/${slug}`,
        image: article.data.images[0],
      },
    };
  });
}

const { article, slug, image } = Astro.props;
const { Content } = await article.render();

// Format date into DD MMMM YYYY from article.data.date
const date = new Date(article.data.date);
const formattedDate = date.toLocaleDateString();
const isIndonesian = Astro.url.pathname.startsWith("/id");
const language = isIndonesian ? "Bahasa Indonesia" : "English";

// Calculate reading time
const readingTime = Math.ceil(article.body.split(" ").length / 200);
---

<Layout
  title={`${article.data.title} | Asep Bagja`}
  description={article.data.summary}
  openGraph={{
    title: `${article.data.title} | Asep Bagja`,
    url: "https://www.asepbagja.com/id/" + slug,
    image: "https://www.asepbagja.com" + image,
    type: "website",
  }}
>
<Navbar />

<!-- Blog Article -->
<div class="max-w-3xl px-4 mt-10 pt-10 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
  <div class="max-w-2xl">
    <!-- Avatar Media -->
    <div class="flex justify-between items-center mb-6">
      <div class="flex w-full sm:items-center gap-x-5 sm:gap-x-3">
        <div class="shrink-0">
          <img
            class="size-12 rounded-full"
            src={AuthorImg.src}
            alt="Asep Bagja"
          />
        </div>

        <div class="grow">
          <div class="flex justify-between items-center gap-x-2">
            <div>
              <!-- Tooltip -->
              <div
                class="hs-tooltip [--trigger:hover] [--placement:bottom] inline-block"
              >
                <div
                  class="sm:mb-1 block text-start"
                >
                  <span
                    class="font-semibold text-gray-800 dark:text-neutral-200"
                  >
                    {language}
                  </span>
                </div>
              </div>
              <!-- End Tooltip -->

              <ul class="text-md text-gray-500 dark:text-neutral-500">
                <li
                  class="inline-block relative pe-6 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-2 before:-translate-y-1/2 before:size-1 before:bg-gray-300 before:rounded-full dark:text-neutral-400 dark:before:bg-neutral-600"
                >
                  {formattedDate}
                </li>
                <li
                  class="inline-block relative pe-6 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-2 before:-translate-y-1/2 before:size-1 before:bg-gray-300 before:rounded-full dark:text-neutral-400 dark:before:bg-neutral-600"
                >
                  {isIndonesian ? `${readingTime} menit baca` : `${readingTime} min read`}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Avatar Media -->

    <!-- Content -->
    <div class="space-y-5 md:space-y-8">
      <div class="space-y-3">
        <h2 class="text-3xl font-bold md:text-3xl dark:text-white">
          {article.data.title}
        </h2>
      </div>

      <div class="blog text-xl font-sans">
        <Content />
      </div>
      <div id="disqus_thread" class="mt-10"></div>
    </div>
    <!-- End Content -->
  </div>
</div>
<!-- End Blog Article -->
<Footer />
</Layout>

<script is:inline>
  var disqus_config = function () {
    this.page.url = window.location.href; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier =
      window.location.href.split("/").at(-1) === ""
        ? window.location.href.split("/").at(-2)
        : window.location.href.split("/").at(-1); // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };

  (function () {
    // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement("script");
    s.src = "https://asepnew.disqus.com/embed.js";
    s.setAttribute("data-timestamp", +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>

<style is:inline>
  div.blog a {
    color: #2563eb;
    text-decoration: underline;
    font-weight: 600;
  }

  div.blog a:hover {
    color: #2563eb;
  }

  div.blog p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  div.blog h3 {
    font-weight: 600;
    font-size: 1.5rem;
  }

  div.blog ol,
  div.blog ul {
    margin-left: 2.5rem;
    font-family: "Source Serif 4", serif;
    font-size: 1.2rem;
    line-height: 2.25rem;
  }

  div.blog .figure {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  div.blog .figure img, div.blog p img {
    width: 70%;
    display: block;
    margin: auto;
  }

  div.blog .category-text a {
    color: var(--bs-light);
    text-decoration: none;
  }

  div.blog blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }

  div.blog blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  div.blog blockquote p {
    display: inline;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  div.blog blockquote cite {
    font-size: 1rem;
  }

  @media (max-width: 575.98px) {
    div.blog .figure img {
      width: 100%;
    }
  }

  @media (max-width: 767.98px) {
    div.blog .figure img {
      width: 100%;
    }
  }
</style>
