---
import { getCollection } from "astro:content";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const articles = await getCollection("blog");

// Sort array of articles descending by date (newest first) in immutable way
const sortedArticles = [...articles].sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});

// Get first 4 articles from sortedArticles array
const latestArticles = sortedArticles.slice(0, 4).map((article) => {
  const category = article.data.categories[0].toLowerCase();
  
  const splittedSlug = article.slug.split("/");
  const lang = splittedSlug[0];
  const articleSlug = splittedSlug[1];
  return {
    ...article,
    lang,
    slug:
      lang === "en"
        ? `/${category}/${articleSlug}`
        : `/${lang}/${category}/${articleSlug}`,
  };
});
---

<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="mx-auto max-w-2xl mb-8 lg:mb-14 text-center">
    <h2
      class="text-3xl lg:text-4xl text-gray-800 font-bold dark:text-neutral-200"
    >
      {title}
    </h2>
    <p class="mt-3 text-gray-800 dark:text-neutral-200">
      I write in English and Bahasa Indonesia.
    </p>
  </div>
  <!-- End Title -->

  <!-- Grid -->
  <div class="grid lg:grid-cols-2 gap-6">
    {latestArticles.map((article) => {
      return (
      <a class="group relative block rounded-xl focus:outline-none" href={article.slug}>
      <div class="shrink-0 relative rounded-xl overflow-hidden w-full h-[350px] before:absolute before:inset-x-0 before:z-[1] before:size-full before:bg-gradient-to-t before:from-gray-900/70">
        <img class="size-full absolute top-0 start-0 object-cover" src={article.data.images[0]} alt={article.data.title}>
      </div>

      <div class="absolute top-0 inset-x-0 z-10">
        <div class="p-4 flex flex-col h-full sm:p-6">
          <!-- Avatar -->
          <div class="flex items-center">
            <div class="shrink-0">
              {article.lang === "en" ? "🇬🇧" : "🇮🇩"}
            </div>
            <div class="ms-2.5 sm:ms-4">
              <h4 class="font-semibold text-white">
                {article.data.categories[0]}
              </h4>
              <p class="text-xs text-white/80">
                {new Date(article.data.date).toLocaleDateString()}
              </p>
            </div>
          </div>
          <!-- End Avatar -->
        </div>
      </div>

      <div class="absolute bottom-0 inset-x-0 z-10">
        <div class="flex flex-col h-full p-4 sm:p-6">
          <h3 class="text-lg sm:text-3xl font-semibold text-white group-hover:text-white/80 group-focus:text-white/80">
            {article.data.title}
          </h3>
          <p class="mt-2 text-white/80">
            {article.data.summary}
          </p>
        </div>
      </div>
    </a>
      )
    })}
  </div>
  <!-- End Grid -->
</div>
