---
import { getCollection } from "astro:content";

export interface Props {
	title: string;
}

const { title } = Astro.props;

const musicCollection = await getCollection("music", ({ id }) => id === "releases");
const releases = musicCollection[0].data.records;

// take the last 4 releases and reverse the order so the latest release is first
const latestReleases = releases.slice(-4).reverse();
---
<section class="music container pt-5">
  <div class="row">
    <div class="col-12">
      <h2 class="section-title text-center fs-1">{title}</h2>
    </div>
  </div>
  <div class="row py-5">
    {
      latestReleases.map((release) => (
        <article class="release col-sm-6 col-lg-3">
          <img src={release.artwork} alt={release.title} class="img-fluid" />
          <h3 class="mt-3"><a href={release.link} target="_blank" rel="noopener">{release.title}</a></h3>
          <p>{release.year}</p>
        </article>
      ))
    }
  </div>
</section>

<script>
  // Make the whole article.release clickable. The link is coming from article > h3 > a.
  const releases = document.querySelectorAll("article.release");
  releases.forEach((release) => {
    release.addEventListener("click", () => {
      const link = release.querySelector("h3 > a").href;
      window.open(link, "_blank");
    });
  });
</script>

<style>
  article.release {
    cursor: pointer;
  }

  article.release a {
    color: var(--primary);
    text-decoration: none;
  }

  article.release a:hover {
    color: var(--asep-primary);
  }
</style>